<div class="magic-die">
	<div class="die one" ng-class="{selected:$ctrl.selected == 1}" ng-click="$ctrl.select(1)">&#9856;</div>
	<div class="die two" ng-class="{selected:$ctrl.selected == 2}" ng-click="$ctrl.select(2)">&#9857;</div>
	<div class="die three" ng-class="{selected:$ctrl.selected == 3}" ng-click="$ctrl.select(3)">&#9858;</div>
	<div class="die four" ng-class="{selected:$ctrl.selected == 4}" ng-click="$ctrl.select(4)">&#9859;</div>
	<div class="die five" ng-class="{selected:$ctrl.selected == 5}" ng-click="$ctrl.select(5)">&#9860;</div>
	<div class="die six" ng-class="{selected:$ctrl.selected == 6}" ng-click="$ctrl.select(6)">&#9861;</div>
</div>